<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbConnection" value="Data Source=10.10.9.4;database=AVdbProd; Integrated Security=false;User ID=UserNetwork;Password=Server2017;" />
<add key="timerClock" value="600000" />  <!--3600000  = 1 Ora 600000 = 1 minuto-->
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
